* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
  }
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f5f8ff;
  }
  button{
    padding: 20px;
    border-radius: 20px;
    background-color: yellow;
  }
  .header{
    height: 80px;
    width: 70%;
    background-color: goldenrod;
    border-radius: 3px;
    margin: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
  }
  .header .logo{
    font-size: 30px;
    font-weight: bold;
    color: white;

  }

  .cart{
    display: flex;
    background-color: #ffffff;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    border-radius: 3px;
    width: 80px;
  }

  .fa-solid{
    color: goldenrod;
  }

  .cart p{
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    background-color: goldenrod;
    color: white;
  }

  .container1{
    display: flex;
    width: 70%;
    margin-bottom: 30px;
  }

  #root{
    position: absolute;
    right: -350px;
    width: 50%;
    height: 100px;
   
  }

  .sidebar{
    width: 40%;
    border-radius: 5px;
    background-color: #eee;
    margin-left: 20px;
    padding: 15px;
    text-align: left ;

  }

  .head{
    background-color: goldenrod;
    border-radius: 3px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    color: #ffffff;
    display: flex;
    align-items: center;
  }

  .foot{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 1px solid#333;
  }
  .wrapper {
    width: 95%;
    margin: 0 auto;
  }
  #search-container {
    margin: 1em 0;
  }
  #search-container input {
    background-color: #fff;
    width: 40%;
    border-bottom: 2px solid #110f29;
    padding: 1em 0.3em;
  }
  #search-container input:focus {
    border-bottom-color: goldenrod;
  }
  #search-container button {
    padding: 1em 2em;
    margin-left: 1em;
    background-color: goldenrod;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 0.5em;
  }
  .button-value {
    border: 2px solid goldenrod;
    padding: 1em 2.2em;
    border-radius: 3em;
    background-color: transparent;
    color: goldenrod;
    cursor: pointer;
  }
  .active {
    background-color: goldenrod;
    color: #ffffff;
  }
  #products {
    display: grid;
    grid-template-columns: auto auto ;
    grid-column-gap: 1.4em;
    padding: 2em 1.5;
  }
  .card {
    background-color: #ffffff;
    max-width: 15em;
    margin-top: 1em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08);
  }
  .image-container {
    text-align: center;
  }
  img {
    max-width: 100%;
    object-fit: contain;
    height: 12em;
  }
  .container3 {
    padding-top: 1em;
    color: #110f29;
  }
  .container3 h5 {
    font-weight: 500;
  }
  .hide {
    display: none;
  }
  @media screen and (max-width: 720px) {
    img {
      max-width: 100%;
      object-fit: contain;
      height: 10em;
    }
    .card {
      max-width: 10em;
      margin-top: 1em;
    }
    

    #products {
      grid-template-columns: auto auto;
      grid-column-gap: 1em;
    }
  }