*{
    margin: 0;
    padding: 0;

}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(231, 227, 227, 0.5)50%,rgba(231, 227,227, 0.5)50%), url(background.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 150px;
    float: left;
    height: 70px;
}


.logo{
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.menu{
    width: 1000px;
    float: left;
    height: 70px;
}

.btn-box{
    display: flex;
    border-bottom: 1px solid #ccc;
}

.btn-box button{
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    margin-right: 50px;
    font-size: 20px;
    font-weight: bold;

}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: black;
    font-family: Arial;
    font-weight: normal;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #ff7200;
}

.content1{
    width: 1200px;
    height: auto;
    margin: auto;
    color:#ff7200;
    position: relative;
}

.content h1{
    font-family: 'Gobold';
    font-size: 30px;
    padding-left: 30px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content span{
    color: black;
    font-size: 30px;
}

.form{
    width: 250px;
    height: 380px;
    background: linear-gradient(to top,rgba(0,0,0,0.8)50%, rgba(0, 0, 0, 0.8)50%);
    position: absolute;
    top: -20px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;

}

.form h2{
    width: 220px;
    font-family: Product sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;

}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;

}

.form input:focus{
    outline: none;
}

::placeholder{
    color: #fff;
    font-family: Arial;
}

.btnn{
    width: 240px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}

.btnn:hover{
    background: #fff;
    color: #ff7200;
}

.btnn a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.font.link{
    font-family: Arial;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}

.form.link a{
    text-decoration: none;
    color: #ff7200;
}

*{
    margin: 0px;
    padding: 0px;
}

.container{
    height: 100vh;
    background-position: center;
    background-image: url("grasspic.jpg");
    background-size: cover;
    margin-top: 3rem;

}
.heading{
    width: 100%;
    height: 100%;
    font-size: 28px;
    color: #fff;
    display: flex;
    padding-top:25px;
    padding-bottom: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.overlay{
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: #fff;
    display: flex;
    justify-content: end;
    padding-top: 30px;
    padding-bottom: 30px;
    flex-direction: row;
    margin-top: 8rem;
}

.vl {
    border-left: 5px solid white;
    height: 340px;
    margin-right: 5rem;
}